body
{
    background-color: #0d1117;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #c9d1d9;
}

#matchcontainer
{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
#match
{
    padding: 0% 3%;
    border-radius: 10px;
    border: 1px solid  #58a6ff;
    background-color: #132339;
    margin: 1% 2%;
}

#match a
{
    text-decoration: none;
    color: #58a6ff;

}
#match a p
{
    margin: 0;
}

#match:hover
{
    background-color: #213755;
}


#match-unavailable
{
    padding: 0% 3%;
    border-radius: 10px;
    border: 1px solid  #ff5e58;
    margin: 1% 2%;
    background-color: #391613;
}

#match-unavailable a
{
    text-decoration: none;
    color: #ff5e58;
    cursor: default;

}
#match-unavailable a p
{
    margin: 0;
}
#match-unavailable:hover
{
    background-color: #552521;
}




#weekcontainer
{
    margin: 3% auto;
    text-align: center;
    width: 90%;
    border: 1px solid #8b949e;
    border-radius: 25px;
}

#weekcontainer h1
{
    margin: 0;
}

#weekcontainer:hover
{
    background-color: #11161d;
}

main
{
    max-width: 900px;
    margin: auto;
}

#title
{
    text-align: center;
}

#wochen h2
{
    text-align: center;
}

#wochenlinks a
{
    text-decoration: none;
    color: #58a6ff;
    background-color: #132339;
    font-size: 20px;
    padding: 1% 1%;
    border: 1px solid  #58a6ff;
    border-radius: 10px;
    margin: 0% 1%;
}

#wochenlinks a:hover
{
    background-color: #213755;
}

#wochenlinks
{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

